title {
  font-size: 30px;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}

/***************************/
/* Table of contents start */

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 10px 0px 10px 0px;
  border: none;
  background-image: url("img/paulzoomcircle.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #f8f9fa;
    background-color: #00923f;
    border-color: #00923f;
}

/* Table of contents end */
/*************************/

/**************************************/
/* Highlighting text with mouse start */

::selection {
  color: #f8f9fa;
  background: #00923f;
}

/* Highlighting text with mouse end */
/************************************/

#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

 /* unvisited link */
a:link {
  color: #00923f;
}

/* visited link */
a:visited {
  color: #00923f;
}

/* mouse over link */
a:hover {
  color: #00923f;
}

/* selected link */
a:active {
  color: #00923f;
} 

#headerbanner
{
  height: 200px;
  width: 100%;
}

#headerbanner img
{
  width: 100%;
  height: 200px;
  max-width: 1170px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
}